registry=https://registry.npmjs.org/
@xyflow:registry=https://registry.npmjs.org/
react-icons:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@vitejs:registry=https://registry.npmjs.org/
eslint:registry=https://registry.npmjs.org/
strict-ssl=false
always-auth=false 